{:image-filepaths ["class-images/skirmisher/idle.png" "class-images/skirmisher/attack/3.png" "class-images/skirmisher/attack/peasant-attack.png" "class-images/skirmisher/attack/1.png" "class-images/skirmisher/attack/4.png" "class-images/skirmisher/attack/2.png" "class-images/skirmisher/attack/5.png" "class-images/assassin/idle.png" "class-images/assassin/attack/1.png" "class-images/assassin/attack/2.png" "class-images/scholar/idle.png" "class-images/scholar/attack/1.png" "class-images/scholar/attack/2.png" "class-images/paladin/idle.png" "class-images/paladin/attack/1.png" "class-images/paladin/attack/2.png"]}