body {
  background: #f3f3f3;
  color: #45ADA8;
}

/* ------------------------- Hex Grid Logic --------------------------
 *
 * https://css-tricks.com/responsive-hexagon-grid-using-modern-css/
 */

.hexgrid {
  --s: 120px;  /* size  */
  --g: 10px;   /* gap */
  
  display: flex;
  gap: var(--g);
  flex-wrap: wrap;
  padding-bottom: calc(var(--s)/(4*cos(30deg)));
  width: 1400px;
  container-type: inline-size;
}
.hexgrid > .hextile {
  width: var(--s);
  aspect-ratio: cos(30deg);
  border-radius: 50% / 25%;
  corner-shape: bevel;
  margin-bottom: calc(var(--s)/(-4*cos(30deg)));
  --_n: round(down,(100cqw + var(--g))/(var(--s) + var(--g)));
  --_m: round(down,(100cqw - (var(--s) - var(--g))/2)/(var(--s) + var(--g)));
  --_c: round(down,1 - mod((sibling-index() - 1 + var(--_m))/(var(--_n) + var(--_m)),1));
  margin-left: calc(var(--_c)*(var(--s) + var(--g))/2);
}

.hexgrid div {
  display: grid;
  place-content: center;
  border: 10px solid ;
  box-sizing: border-box;
  font: bold 28px system-ui,sans-serif;
}
.hexgrid div:nth-child(odd) {
  color: #e92d00;
}

/* ----------------------- Timeline --------------------------------- */

.timeline {
  display: flex;
  flex-direction: row;
  width: 1400px;
  padding: 10px;
}

.tick {
  font: bold 20px system-ui,sans-serif;
  border: 5px solid;
  text-align: center;
  margin: 10px;
}
